#!/sbin/runscript
# Copyright 2007 Ossdl.de, Hurrikane Systems
# Distributed under the terms of the GNU General Public License
# $Header: $

conf="/etc/conf.d/milter-greylist"

depend() {
	need net
	use logger
	before postfix
	provide postfix_greylist
}

start() {
	ebegin "Starting milter-greylist"

	# HACK -- start a subshell and corrects perms on the socket...
	( if [ -e "${MGREY_SOCKET}" ]; then rm -f ${MGREY_SOCKET}; fi
	while ! test -S "${MGREY_SOCKET}"; do sleep 1; done;
	chmod u+rw,g+rw "${MGREY_SOCKET}" ) &

	start-stop-daemon --start --quiet --background \
		--exec /usr/sbin/milter-greylist -- \
		-u ${MGREY_USER} \
		-p ${MGREY_SOCKET} \
		-P ${MGREY_PID} \
		${MGREY_OPTS}
	eend ${?}
}

stop() {
	ebegin "Stopping milter-greylist"
	start-stop-daemon --stop --quiet --pidfile ${MGREY_PID}
	eend ${?}
}
